@model Blackjack.BlackjackSetup

@{
    ViewBag.Title = "BlackJack";
    Layout = "~/Views/Layouts/_MainLayoutPage.cshtml";
}

<h1 class="game-title">BlackJack</h1>

<div id="play-area">
    @{Html.RenderPartial("BlackJackGetRound", Model); }
</div>
<div id="lower-info-area"></div>
<div class="centered-buttons">
    <div class="button" id="hit-button" style="display: inline-block">Hit</div>
    <div class="button" id="hold-button" style="display: inline-block">Hold</div>
    <div class="button" id="reset-button" style="display: none">New round</div>
</div>

<div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm())
            {
                <input type="hidden" value="bj-save-game" name="type" />
                <label>Enter a Save name to save as: </label>
                <input type="text" value="SaveName" name="savename" />
                <input type="submit" value="Save Game" name="save" />
            }
        }
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm())
            {
                DatabaseManager.Manager m = (DatabaseManager.Manager)ViewBag.Manager;
                List<SelectListItem> items = new List<SelectListItem>();
                foreach (KeyValuePair<string, long> kv in m.GetGamesForUser(Microsoft.AspNet.Identity.IdentityExtensions.GetUserId(User.Identity), 2))
                {
                    items.Add(new SelectListItem { Value = kv.Key, Text = "Save: " + kv.Key });
                }
                if (items.Count() > 1) { items.First().Selected = true; }
                <label>Choose a Save name to load from: </label>
                @Html.DropDownList("savename", items);
                <input type="hidden" value="bj-load-game" name="type" />
                <input type="submit" value="Load Game" name="save" />
            }
        }
    </div>
</div>

<script>
    $("#hit-button").click(function () {
        $.ajax({
            url: "/Home/BlackJackGetRound",
            type: "get",
            data: {"type": "hit"},
            success: function (result) {
                $("#play-area").html(result);
            }
        });
    });
    $("#hold-button").click(function () {
        $.ajax({
            url: "/Home/BlackJackGetRound",
            type: "get",
            data: { "type": "hold" },
            success: function (result) {
                $("#play-area").html(result);
                $("#hit-button").css({ "display": "none" });
            }
        });
    });
    $("#reset-button").click(function () {
        $.ajax({
            url: "/Home/BlackJackGetRound",
            type: "get",
            data: { "type": "reset" },
            success: function (result) {
                $("#play-area").html(result);
                $("#reset-button").css({ "display": "none" });
                $("#hit-button").css({ "display": "inline-block" });
                $("#hold-button").css({ "display": "inline-block" });
            }
        });
    });
</script>