@{
    Layout = "~/Views/Layouts/_MainLayoutPage.cshtml";
    ViewBag.Title = "Example Game Page";
}

@model WarLib.WarSetup

    
@Model.Player1Cards.First().FullName
<img src="~/Content/Images/Cards/@( 
    Model.Player1Cards.First().ValueInt > 10 ? Model.Player1Cards.First().Value : Model.Player1Cards.First().ValueInt+""
 )_of_@(Model.Player1Cards.First().Suit).svg"/>


<div id="partial">
    <!-- REMOVE INLINE STYLING LATER-->
    <div id="button" style="border: 2px solid cyan; color: green; background-color:black"><p>aaaa</p></div>
    @Html.Partial("Parti")
</div>

<!-- click div with id, get a partial loaded how cool -->
<script>
    $("#button").click(function () {
        $.ajax({
            url: "/Home/GetData",
            type: "get",
            data: $("form").serialize(), 
            success: function (result) {
                $("#partial").html(result);
            }
        });
    });
</script>