@model WarLib.WarSetup
@{
    Layout = "~/Views/Layouts/_MainLayoutPage.cshtml";
    ViewBag.Title = "Home Page";
}

<div>
    home page
    @{Model.Player1LayCard(true);}
    @Model.
    @{byte[] test = Model.SaveState();}
    @Model.LoadState(test);
</div>