@model WarLib.WarSetup
@{
    Layout = "~/Views/Layouts/_MainLayoutPage.cshtml";
    ViewBag.Title = "Home Page";
}

<div>
    <h1 style="align-content: center;">Welcome! To J-Dawg's Web-Card Games</h1>
    <h3 style="align-content: center;">We hope that you have a wonderful experiance playing with our card Games!</h3>
</div>