@model WarLib.WarSetup

@{
    ViewBag.Title = "War";
    Layout = "~/Views/Layouts/_MainLayoutPage.cshtml";
}

<h1 class="game-title">War</h1>

<div id="play-area">
    <p>Draw some cards!</p>
    @{ Html.RenderPartial("WarGetRound", Model); }
</div>
<div id="lower-info-area"></div>
<div>
    <div class="button adjusted-area" id="draw-button">Draw and Battle Cards</div>
    <div class="adjusted-area" id="ghost-button" style="display: none;">Waiting...</div>
    <div class="button adjusted-area" id="reset-button" style="display: none">New Game</div>
</div>
<script>
    $("#draw-button").click(function () {
        $.ajax({ //request card info
            url: "/Home/WarGetRound",
            type: "get",
            data: $("form").serialize(),
            success: function (result) {
                //after request, get the html result
                $("#play-area").html(result); //and set it to the card area for the user to see
                $("#lower-info-area").html("");
                $("#draw-button").css({ "display": "none" });
                $("#ghost-button").css({ "display": "inline-block" });
                setTimeout(function () {
                    $("#draw-button").css({ "display": "inline-block" });
                    $("#ghost-button").css({ "display": "none" });

                }, 1000);
                if (result.indexOf("GameEnd") === -1) { //game did not end
                    $.ajax({ //now another request for the battle result
                        url: "/Home/WarDoBattle",
                        type: "get",
                        data: $("form").serialize(),
                        success: function (result) {
                            if (result.indexOf("winner") === -1) {
                                if (result.indexOf("War") === -1) {
                                    $("#lower-info-area").html("<h3 class=\"notification-text\">" + result + "</h3>");
                                }
                                else {
                                    $("#lower-info-area").html("<h3 class=\"war-warning-pulsate notification-text\">" + result + "</h3>");
                                }
                            }
                            else {
                                $("#lower-info-area").html("<h3 class=\"notification-text\">" + result + " press reset to play again</h3>");
                                $("#reset-button").css({ "display": "inline-block" });
                            }
                        }
                    });
                }
            }
        });
    });

    $("#reset-button").click(function () {
        $.ajax({
            url: "/Home/WarReset",
            type: "get",
            data: $("form").serialize(),
            success: function (result) {
                $("#draw-button").css({ "display": "block" });
                $("#battle-button").css({ "display": "none" });
                $("#player-area").html("");
                $("#reset-button").css({ "display": "none" });
            }
        });
    });
</script>