@model WarLib.WarSetup

@if (ViewBag.GameEnd == true)
{
    if (ViewBag.Winner == "Player 1")
    {
        <p style="display: none">GameEnd</p>
        <div>
            <div id="enemy-area">
                <p class="adjusted-area">The Computer Lost!</p>
                <img class="small-card adjusted-area" src="~/Content/Images/Cards/card_back_burned.PNG" />
                <div class="loser-overlay-div"><img class="loser-overlay-img adjusted-area" src="~/Content/Images/explosion.gif" /></div>
            </div>
            <div id="player-area" class="adjusted-area" style="margin-top: 30px;">
                <p class="adjusted-area">You Win!</p>
                <img class="small-card adjusted-area" src="~/Content/Images/Cards/card_back.PNG" />
            </div>
        </div>
        <!--
        <script>
            $("#reset-button").css({ "display": "inline-block" });
        </script>
        -->
    }
    else
    {
        <div>
            <div id="enemy-area" class="adjusted-area">
                <p class="adjusted-area">The Computer Won!</p>
                <img class="small-card adjusted-area" src="~/Content/Images/Cards/card_back.PNG" />
            </div>
            <div id="player-area">
                <p class="adjusted-area">You Lost!</p>
                <img class="small-card adjusted-area" src="~/Content/Images/Cards/card_back_burned.PNG" />
                <div class="loser-overlay-div"><img class="loser-overlay-img adjusted-area" src="~/Content/Images/explosion.gif" /></div>
            </div>
        </div>
        <!--
        <script>
            $("#reset-button").css({ "display": "inline-block" });
        </script>
        -->
    }
}