@model WarLib.WarSetup

<div id="enemy-area">
    @foreach (CardsLib.Card card in Model.Player2StoredCards)
    {
        <p>@card.FullName</p>
        <img src="~/Content/Images/Cards/@(
            card.ValueInt > 10 ? card.Value : card.ValueInt + ""
            )_of_@(card.Suit).svg" />
    }
</div>
<div id="player-area">
    @foreach (CardsLib.Card card in Model.Player1StoredCards)
    {
        <p>@card.FullName</p>
        <img src="~/Content/Images/Cards/@(
            card.ValueInt > 10 ? card.Value : card.ValueInt + ""
            )_of_@(card.Suit).svg" />
    }
</div>
