@model WarLib.WarSetup

<div id="enemy-area">
    Deck size: @Model.Player2Cards.Count()
    @if (Model.Player2Cards.Count() > 0)
    {
        <p>@Model.Player2Cards.First().FullName</p>
        <img src="~/Content/Images/Cards/@(
            Model.Player2Cards.First().ValueInt > 10 ? Model.Player2Cards.First().Value : Model.Player2Cards.First().ValueInt + ""
            )_of_@(Model.Player2Cards.First().Suit).svg" 
         />
        Model.Player2LayCard(true);
    }
</div>
<div id="player-area">
    Deck size: @Model.Player1Cards.Count()
    @if (Model.Player1Cards.Count() > 0)
    {
        <p>@Model.Player1Cards.First().FullName</p>
        <img src="~/Content/Images/Cards/@(
            Model.Player1Cards.First().ValueInt > 10 ? Model.Player1Cards.First().Value : Model.Player1Cards.First().ValueInt+""
            )_of_@(Model.Player1Cards.First().Suit).svg"
        />
        Model.Player1LayCard(true);
    }
</div>
