@model WarLib.WarSetup

<div id="enemy-area">
    @foreach (CardsLib.Card card in Model.Player2StoredCards)
    {
        <p>@card.FullName</p>
        <img src="~/Content/Images/Cards/@(
            card.FaceUp == true 
            ? (card.ValueInt > 10 ? $"{card.Value}_of_{card.Suit}.svg" : $"{card.ValueInt}_of_{card.Suit}.svg") 
            : "card_back.png")" />
    }
</div>
<div id="player-area">
    @foreach (CardsLib.Card card in Model.Player1StoredCards)
    {
        <p>@card.FullName</p>
        <img src="~/Content/Images/Cards/@(
            card.FaceUp == true
            ? (card.ValueInt > 10 ? $"{card.Value}_of_{card.Suit}.svg" : $"{card.ValueInt}_of_{card.Suit}.svg")
            : "card_back.png")" />
    }
</div>
