/*
    Color scheme
    Gold:       #EBB407
    Black:      #000000
    Red:        #BA220D
    Darker Red: #7D2107
    Green:      #1C7A0A
*/

body {
    background-image: url("../Images/bg.png");
    background-repeat: repeat;
}

hr {
    clear: both;
}

nav {
    background-color: #7D2107;
    margin: 20px;
    float: right;
    min-height: 100vh;
}

nav > ul > li,
form > ul > li {
    text-decoration: none;
    margin: 40px 5px 40px 5px;
    list-style-type: none;
    margin-right:50px
    
}
nav > ul > li > a,
form > ul > li > a{
    text-decoration: none;
    border: 2px solid transparent;
    border-top: 2px double #bbb;
    border-right: 2px double #bbb;
    padding: 5px 5px 5px 40px;
}

nav > ul > li > a:link,
nav > ul > li > a:visited,
form > ul > li > a:link,
form > ul > li > a:visited{
    color: #bbb;
    text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:active,
form > ul > li > a:hover,
form > ul > li > a:active{
    color: #fff;
    border-left: 2px double #fff;
    border-bottom: 2px double #fff;
    border-bottom-left-radius: 50px;
}

header {
    border-bottom: 2px solid black;
    border-radius: 50px;
    padding: 5px;
    margin: 10px;
    display: block;
    overflow: hidden;
}

#player-area-war {
    display: inline-block;
    margin-left: 50px;
}

#enemy-area-war {
    display: inline-block;
    margin-right: 50px;
}

.adjusted-area {
     vertical-align: top;
     margin: auto;
}

.centered-buttons {
    align-content: center;
}

.button {
    background-color: aliceblue;
    border: 1px solid skyblue;
    border-radius: 4px;
    max-height: 50px;
    max-width: 120px;
    min-height: 50px;
    min-width: 120px;
}

#ghost-button {
    max-height: 50px;
    max-width: 120px;
    min-height: 50px;
    min-width: 120px;
    color: grey;
    background-color: aliceblue;
    border: 1px solid skyblue;
    border-radius: 4px;
}

.small-card {
    max-height: 200px;
    width: auto;
    display: block;
}

#play-area {
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#lower-info-area {
    align-content:center;
    justify-content: center;
    text-align: center;
    color: red;
    text-shadow: 0px 0px 5px red;
}

.loser-overlay-img {
    z-index: 10;
    width: 100px;
    height: auto;
    display: inline-block;
}

.loser-overlay-div {
    z-index: 10;
    margin-top: -160px;
    margin-left: 20px;
    vertical-align: bottom;
}

.left-align-text {
    text-align: left;
}

.right-align-text {
    text-align: right;
}

/*time to get FANCY*/
.win-warning {
    animation-name: win-warning-anim;
}

.lose-warning {
    animation-name: lose-warning-anim;
}

.lose-warning, .win-warning {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
}
@keyframes lose-warning-anim {
    to {
        color: red;
        border-color: red;
        text-shadow: 0px 0px 5px red;
    }
}
@keyframes win-warning-anim {
    to {
        color: cyan;
        border-color: cyan;
        text-shadow: 0px 0px 5px cyan;
    }
}

.notification-text {
    min-height: 22px;
}

.war-warning-pulsate {
    animation-name: war-pulsate-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
}
@keyframes war-pulsate-anim {
    to {
        font-size: 15px;
        color: yellow;
    }
}

.game-title {
    text-align: center;
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.form-horizontal .form-group {
    margin-right: 15px;
    margin-left: 15px;
}

.form-horizontal{
    width: 25%;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display: compact;
    content: " ";
}

.form-horizontal .form-group:after {
    clear: both;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display: compact;
    content: " ";
}

.form-horizontal .form-group:after {
    clear: both;
}

@media (min-width: 768px) {
.form-horizontal .control-label {
    text-align: right;
}
}
.spicy {
    color: white;
    padding: 20px;
    border: 1px double white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    animation-name: spicy-anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
}

@keyframes spicy-anim {
    50% {
        text-shadow: 0px 0px 0px yellow;
    }
    100% {
        text-shadow: 0px 0px 0px yellow;
        color: red;
        border: 1px solid red;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}