<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles/Style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar-main">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
    </nav>
    @*@Html.Partial("_LoginLogoutPartial")*@
    <div>
        @RenderBody()
    </div>
</body>
</html>
