<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/Style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/Content/Scripts/Script.js"></script>
</head>
<body>
    <nav class="navbar-main">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("War Game", "War", "Home")</li>
        </ul>
    </nav>
	<div class="mainBody">
        @RenderBody()
    </div>
</body>
</html>
